/* ------------------------------_buttons-------------------------- */
.btnbase {
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
    cursor: pointer;
    width: 100%;
    letter-spacing: 1px;
    outline: none;
    border: none;
    text-align: center;
    padding: 0;

    &:hover,
    &:focus {
        outline: none;
    }
}

.primary_btn {
    line-height: 45px;
    outline: none;
    background: $primary-gradient;
    color: #fff;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    transition: color .15s ease-in-out;

    &:hover {
        color: #fff;
        background: lighten($primary-color, 10%);
    }

    &:disabled {
        background: linear-gradient(rgb(185, 185, 185), rgb(170, 170, 170));
        color: #fff;
        cursor: default !important;

        &:hover {
            background: linear-gradient(rgb(144, 144, 144), rgb(124, 124, 124));
        }
    }
}

.primary_btn.color-yellow {
    background: $yellow-color;
    color: #fff;

    &:hover {
        color: #fff;
        background: lighten($yellow-color, 10%);
    }
}

.primary_btn.color-red {
    background: $red-color;
    color: #fff;

    &:hover {
        color: #fff;
        background: lighten($red-color, 10%);
    }
}

.nulldata_btn {
    background: #ddd;
    color: #fff;
    border-radius: 3px;
}

.outline_btn {
    line-height: 43px;
    outline: none;
    background: transparent;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.outline_btn.color-gray {
    color: $second-text-color;
    border: 1px solid $base-bd;

    &:hover {
        color: $primary-color;
        border: 1px solid $primary-color;
    }
}

.outline_btn.color-blue {
    border: 1px solid $primary-color;
    color: $primary-color;

    &:hover {
        background: $primary-color;
        color: #fff;
    }

    &.active {
        color: #00CDFF;
        border: 1px solid #00CDFF;
    }
}

.outline_btn.color-red {
    border: 1px solid $red-color;
    color: $red-color;

    &:hover {
        background: $red-color;
        color: #fff;
    }
}

.icon_btn {
    border: none;
    background-color: transparent;
    outline: none;
    padding: 0;
    margin: 0;

    &:hover {
        outline: none;
        border: none;
    }

    .iconfont {
        color: $primary-color;
        font-size: 20px;
        width: 21px;
        line-height: 21px;
        margin-left: 5px;
        display: block;
    }

    .iconreload.spin-animation {
        @include animation(spin, 0.5s, ease-in);
    }
}

.mini_btn {
    background-color: transparent;
    line-height: 20px;
    padding: 0 10px;
    outline: none;
    margin: 0;
    border: none;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.mini_btn.color-red {
    background: $red-color;
    color: #fff;
    outline: none;

    &:active,
    &:hover,
    &:focus {
        background: lighten($red-color, 10%);
        outline: none;
    }
}

.mini_btn.color-blue {
    background: $primary-color;
    color: #fff;
    outline: none;

    &:active,
    &:hover,
    &:focus {
        background: lighten($primary-color, 20%);
        outline: none;
    }
}

.second_btn {
    outline: none;
    border: 1px solid $base-bd;
    color: $primary-color;
    background: rgba(255, 255, 255, .2);
    font-size: 14px;
    line-height: 30px;
    border-radius: 3px;
    cursor: pointer;

    &:hover,
    &:focus,
    &:active {
        border: 1px solid $primary-color;
        background: $primary-color;
        color: #fff;
        outline: none;
    }
}