/* ------------------------------_buttons-------------------------- */
.btnbase {
	display: inline-block;
	font-size: 1rem;
	vertical-align: middle;
	cursor: pointer;
	width: 100%;
	outline: none;
	border: none;
	text-align: center;
	padding: 0;
	&:hover {
		outline: none;
	}
	&:focus {
		outline: none;
	}
}
.primary_btn {
	line-height: 36px;
	outline: none;
	background: $primary-color;
	color: #fff;
	border-radius: 25px;
	transition: color 0.15s ease-in-out;
}


.outline_btn {
	color: #fff;
	border: 1px solid $primary-color;
	line-height: 36px;
	border-radius: 25px;
	outline: none;
	background: transparent;

}


