// text color
$base-text-color: #8a8a8a;
// $second-text-color: #a4a9ac;
// $light-text-color: #bcc7c3;
$primary-color: #bca16f;
// $primary-gradient: linear-gradient(180deg, #3ae0d8 0%, #26a69a 100%);
$red-color: #f14c48;
$green-color: #95f204;
// $yellow-color: #efd709;


// border color
$border-color: #3d4448;
// $tablebg: #eceff1;

//bg
$container-bg: #202629;
$content-bg: #3d4448;
// $menu-bg: #cfd8dc;
$base-bg: #000000;
// font
$font-family--text: '微软雅黑', 'Microsoft YaHei', 'Segoe UI', Arial, Helvetica,
  'Segoe UI', sans-serif;
