@import '_veriables';
@import '_button';
// @import '/style/_modal';
@import '_form';
@import '_footer';
html, body, #__next {
  height: 100%;

}
html {
  width: 100%;
  background: $base-bg !important;
  color: $base-text-color !important;
  overflow-y: auto;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-size: 1rem;
}
body {
  background: $base-bg !important;
  color: $base-text-color !important;
  width: 100%;
  overflow-y: hidden;
}



